.item
  p #{item.nights} #{__t('nights_gen', { nights: item.nights })}
  p #{__t('Checkin')} #{__t('date_dMMM', {value: new Date() })}
  //- p #{__t('Checkin')} #{__t('date_dMMM', {value: new Date(item.checkin + 'Z') })}
  p
    if item.href
      a(href= item.href) #{item.name}
    else
      | #{item.name}
    if item.visits_count > 0
      | , #{item.visits_count} кликов
  if item.country
    p #{item.country}
      if item.resort
        | , #{item.resort}
  else
      if item.resort
        p #{item.resort}
  if quote.show_touroperator && item.operator
    p #{__t('Touroperator')} #{item.operator}
  if item.price < item.initial_price
    p 
      del #{item.initial_price}
      | #{item.price}
  else
    p #{item.price}
  if item.adults
    p #{item.adults} #{__t('adults_gen', { count: item.adults })}
      if item.children
        | , #{item.children} #{__t('children_gen', { count: item.children })}
        if item.child_ages
          |  (#{item.child_ages})
  else 
    if item.children
      p  #{item.children} #{__t('children_gen', { count: item.children })}
        if item.child_ages
          |  (#{item.child_ages})
  if quote.show_ta_rating
    if item.ta_rating != null
      p #{item.ta_rating}
      if item.ta_num_reviews != null
        | , #{item.ta_num_reviews} #{__t('reviews_gen', { count: item.ta_num_reviews })}
